*{
    box-sizing: border-box;
}
body{
    background-color: black;
    /* height: 100vh; */
    width: 100%;
    color: azure;


}
body::-webkit-scrollbar{
    width: .5rem;
}
body::-webkit-scrollbar-track{
    background: #c41111;
}
body::-webkit-scrollbar-thumb{
    background: #000000;
}

.banner-container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.box-orange{
    position: absolute;
    height:100vh;
    width: 100%;
    background-image: linear-gradient( 90deg, #000000 50%, #ff9e5e 50%);
    display: flex;
    justify-content: center;
    text-align: center;
}
.box-orange section{
    color: rgb(241, 241, 241);
    /* background-image: linear-gradient(10deg, #ff9e5e , #000000 ); */
    word-spacing: 5px;
    margin: 0;
    padding: 10px;
    text-shadow: 10px 10px 10px#c41111;
    /* border: 2px solid white ; */
    box-shadow: 1px 1px 12px 1px #ffffff;
}
header{
    display: flex;
    justify-items: space-between;
    align-items: center;
}
#logo{
    width: max(100px, 5vw);
    border-radius: 2rem;
}

.circle-center img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10rem;
    height: 300px;
    width: 300px;
    margin: 40px;
    /* border: 1px solid red; */
    /* box-shadow: 10px 10px 10px 1px rgb(221, 214, 214); */
}
.link-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-shadow: 10px 10px 10px#c41111;
}
.link-logo img{
    height: 100px;
    width: 100px;
    background-color: #ff9e5e;
    display: flex;
}
.link-logo a{
    color: aliceblue;
    text-decoration: none;
}
/* resume */
.container{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigation{
    width: 100%;
}
.navigation ul{
    display: flex;
    list-style: none;

}
.navigation li { 
    font-size: 30px; 

}
.navigation li a{
    margin: 10px;
    color: aliceblue;
    text-decoration: none;

}
.navigation li a:hover{
    background-color: #ff9e5e;
}
.about-content{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

/* project */
.container-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    /* border: 2px solid white; */
    padding: 100px;
}

.item-2{
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ff9e5e;
    line-height: 20px;
    
}
/* for the projects */
.box-sample{
    height: 30px;
    margin: 10px;
    padding: 10px;
    line-height: 20px;
    width: 180px;
    transition: height 2s , width 2s;

}
.box-sample:hover{
    height: 300px;
    width: 300px;
}

#trans{transition-timing-function: ease-in-out;}


.school-text ,h3{
    text-align: center;
}

/*  */


@media screen and (max-width: 800px){
    body{
        margin: 0;
        padding: 0;
    }
    .link-logo img{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 50px;
        width: 50px;
    }
    .circle-center section{
        /* height:auto;
        width: auto; */
        margin: 10px;
        font-size: 10px;
    }
    .about-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient( 180deg, #000000 50%, #ff9e5e 50%);
    }
    .navigation li{
        font-size: 22px;
        padding:0px ;
    }
}
/*  */
/* .container-card{
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}*/
/* .card{
    width: 500px;
    height: 250px;
    object-fit: cover;
} */
/*
.card:hover{
    width: 40%;
    height: 50vh;
    object-fit: cover;
} */



/*  */
.container-card {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 10px;
    scroll-padding: 10px;
    width: 100%;
    height: 60vh;
    background-color: white;
    border: 2px solid coral;
  }
  
  .container-card .item {
    scroll-snap-align: start;
    flex: 0 0 60%;
    background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
    40%, coral 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 400;
    font-family: sans-serif;
    border-radius: .2rem;
  }