@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* background-color: #121212; */
    background-color: #121212;
/* background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png"); */


/* background-image: url("https://www.transparenttextures.com/patterns/old-wall.png"); */
    height: 100vh;
    width: 100%;
    color: #ff4d00;
    margin: 0;
    padding: 0;
    font-family: 'Gruppo', cursive;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    


}
body::-webkit-scrollbar{
    width: .5rem;
}
body::-webkit-scrollbar-track{
    background: #c41111;
}
body::-webkit-scrollbar-thumb{
    background: #121212;
}
/* tring lang to prallax */
/* .parallax {
    background-image: url("/bg.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

/* parallax end */

.banner-container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-top: 60px;
    overflow: hidden;
}

.box-orange{
    position: absolute;
    height:100vh;
    width: 100%;
    /* background-image: url("img/dots.svg"); */
    background-image: url("assets/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient( 90deg, #121212 50%, #ff4d00 50%) ; */
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 1px 10px 1px #000000 inset;
    margin-bottom: 90px;
    flex-direction: row;
}
.box-orange section{
  word-spacing: 5px;
  margin-bottom: 60px;
  /* border: 1px solid red; */
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 0px 4px 6px rgba(196,17,17,0.61);
  /* text-shadow: 0 1px 10px #c41111; */
  /* box-shadow:0 1px 12px 3px #000000 ; */
}

.circle-center img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10rem;
    height: 300px;
    width: 300px;
    margin: 25px;
    box-shadow: 0 1px 10px 1px #000000 inset;
}
.link-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 80px; */
    text-shadow: 10px 10px 10px#c41111;
    z-index: 2;
    
}
/* tinang gal ko na yung logo sa baba  */
.link-logo img{
    height: auto;
    width: 100px;
    background-color: #ff4d00;
    display: flex;
    box-shadow: 0 0 5px 4px #000000 ;
    /* display: none; */
    
}
.link-logo a{
    color: aliceblue;
    text-decoration: none;
    /* display: none; */
    
}

/* navpart */
/* main{
  position: relative;
  z-index: 2;
} */
header{
    display: flex;
    justify-items: center;
    align-items: center;
}

.navigation{
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #121212 ;
  box-shadow: 0 3px 3px #000000;
  margin: 0;
  /* border: 1px solid white; */

}
#logo {
  width: max(100px, 5vw);
  /* border-radius: 2rem; */
  /* box-shadow: 0 3px 3px #000000; */
  /* border: 2px solid red; */
}

.navigation ul{
  display: flex;
  list-style: none;
  padding: 0;

}
.navigation li { 
    font-size: 30px; 
    box-shadow: 0 1px 10px 1px #3d3d3d;
    
}
.navigation li a{
    margin: 10px;
    color: aliceblue;
    text-decoration: none;

}
/* .navigation li a:active, */
.navigation li a:hover{
    background-color: #c41111;
    box-shadow: 0 1px 10px 1px #ffffff;
}
.navigation i{
  display: none;
}
/* .mobile a , .mobile i{
  display: none;
  text-decoration: none;
  border: 1px solid white;
} */

  /* resume */
  .container{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .item-2{
      width: 40vw;
      height: auto;
      margin: 10px;
      border: 1px solid #ff9e5e;
      line-height: 20px;
      border-radius: 10px;
      transition: 1s ease;
      padding: 10px;
  }
  .item-2 p{
    vertical-align: middle;
  }
  .item-2:hover{
      transform: scale(1.1);
      transition: 1s ease;
      color: #ff4d00;
      box-shadow: 0 1px 10px 1px #ffffff;
  }
  #download{
    color: #ff4d00;
  }
  #download:hover{
    color: #ffffff;
  }


/* for the projects */
  .box-sample{
    height: 30px;
    margin: 10px;
    padding: 10px;
    line-height: 20px;
    width: 180px;
    transition: height 2s , width 2s;
  }
  .box-sample:hover{
    height: 300px;
    width: 300px;
  }

  #trans{transition-timing-function: ease-in-out;}

  .project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .card {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    box-shadow:0 1px 12px 3px #000000 ;
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(252, 252, 252, 0.2);
  }
  
  .card-media {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    
  }
  
  .card-media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-description {
    margin-top: 10px;
    font-size: 16px;
  }
  
  

  /* linkskill */
  .containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .skill {
    width: 5%;
    text-align: center;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }
  .skill p{
    text-align: center;
    display: block;
  }
  
  .skill img {
    max-width: 100%;
    height: auto;
    width: 250px;
    max-height: 300px;
    z-index: -1;
    /* -webkit-filter: drop-shadow(0 2px 6px #c41111); */
    filter: drop-shadow(1px 7px 7px #000000);
  }
  


  /*  */
  .other-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    border-radius: 2em;
  }
  
  .other-card {
    width: calc(33.33% - 20px);
    text-align: center;
    width: 30%;

  }
  
  .other-card a {
    display: block;
    text-decoration: none;
    color: #c41111;
  }
  .other-card a:hover{
    color: #d8d8d8;
  }
  
  .other-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow:0 1px 4px 3px #000000 ;
  }
  .other-card img:hover{
    transition: 1000ms ease;
    box-shadow: 0 1px 10px 1px #ffffff;
  }
  

  /*  */
  /* contacts */
  footer {
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    box-shadow: 0 1px 10px 1px #ffffff;
    color: #fff;
    /* padding: 1rem; */
  }
  footer a {
    color: #d8d8d8;
    text-decoration: none;
  }
  footer a:hover{
    color:#c41111;
  }
  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }
  .contact-info div {
    text-align: center;
  }
  .contact-info i {
    margin-bottom: 1rem;
  }



  .wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #ff4d00;
}